@using EuluBlueMarket.Models
@model MarketItem

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddLot</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        @using (Html.BeginForm("AddLot", "Market", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input class="form-control form-control-lg" type="text" name="Name" placeholder="Имя лота"><br>
            <input class="form-control form-control-lg" type="text" name="Description" placeholder="Описание"><br>
            <input type="file" name="upload" /><br>

            <input type="submit" value="Загрузить" />
        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
