
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            background-color: paleturquoise;
        }

        .peep {
            width: 900px;
            height: 1100px;
            padding: 40px 10px 10px 10px;
            background-color: burlywood;
        }

        .peep2 {
            width: 900px;
            height: 140px;
            background-color: darksalmon;
        }

        .peep3 {
            width: 900px;
            height: 200px;
            margin-top: 10px;
            background-color: peru;
        }
    </style>
</head>

    <body>
        <div style="padding: 30px;width: 1000px; margin: auto; ">
            <div class="peep">
                <div class="peep2">

                </div>
                <div class="peep3">

                </div>
            </div>
        </div>
    </body>
</html>
